{% extends "base.html" %}

{% block title %}@{{ profile_user.username }}{% endblock %}

{% block content %}
  <header class="section-head">
    <p class="eyebrow">Profile</p>
    <h1>@{{ profile_user.username }}</h1>
  </header>

  {% if blogs %}
    <ul class="blog-list">
      {% for blog in blogs %}
        <li>
          <p class="item-name"><a href="{% url 'blog:blog_detail' blog.slug %}">{{ blog.name }}</a></p>
          {% if blog.description %}<p>{{ blog.description }}</p>{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="empty">No blogs yet.</p>
  {% endif %}
{% endblock %}
