{% extends "base.html" %}

{% block title %}{{ blog.name }}{% endblock %}

{% block content %}
  <h1>{{ blog.name }}</h1>
  <p>by <a href="{% url 'profile' blog.owner.username %}">@{{ blog.owner.username }}</a></p>
  {% if blog.description %}<p>{{ blog.description }}</p>{% endif %}

  {% if posts %}
    <ul>
      {% for post in posts %}
        <li>
          <a href="{% url 'blog:post_detail' blog.slug post.slug %}">{{ post.title }}</a>
          <p class="excerpt">{{ post.excerpt|truncatewords:40 }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts yet.</p>
  {% endif %}
{% endblock %}
