{% extends "base.html" %}

{% block title %}My blogs{% endblock %}

{% block content %}
  <header class="section-head">
    <p class="eyebrow">Your account</p>
    <h1>My blogs</h1>
  </header>
  <p class="actions"><a class="btn" href="{% url 'blog:blog_create' %}">New blog</a></p>

  {% if blogs %}
    <ul class="manage-list">
      {% for blog in blogs %}
        <li>
          <span class="item-name"><a href="{% url 'blog:blog_detail' blog.slug %}">{{ blog.name }}</a></span>
          <span class="item-slug">/{{ blog.slug }}</span>
          <span class="item-actions">
            <a href="{% url 'blog:post_list' blog.slug %}">Posts</a>
            <a href="{% url 'blog:blog_edit' blog.slug %}">Edit</a>
            <a href="{% url 'blog:blog_delete' blog.slug %}">Delete</a>
          </span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="empty">No blogs yet. <a href="{% url 'blog:blog_create' %}">Create your first</a>.</p>
  {% endif %}
{% endblock %}
