{% load blog_extras %}
<li class="card {{ post.pk|accent_class }}{% if not post.cover_image %} card--bare{% endif %}">
  {% if post.cover_image %}
    <a class="card-figure" href="{% url 'blog:post_detail' post.blog.slug post.slug %}" tabindex="-1" aria-hidden="true">
      <img src="{{ post.cover_image.url }}" alt="" loading="lazy">
    </a>
  {% endif %}
  <div class="card-body">
    <span class="slug">№ {{ post.pk }} <span class="sep">·</span>
      {% with tag=post.tags.first %}<b>{{ tag.name|default:post.blog.name }}</b>{% endwith %}
    </span>
    <h3 class="feed-title">
      <a href="{% url 'blog:post_detail' post.blog.slug post.slug %}">{{ post.title }}</a>
    </h3>
    <p class="excerpt">{{ post.excerpt|truncatewords:24 }}</p>
    <p class="byline">
      {% if hide_byline %}
        {% if post.published_at %}<time datetime="{{ post.published_at|date:'c' }}">{{ post.published_at|date:"M j, Y" }}</time>{% endif %}
      {% else %}
        <span class="avatar" aria-hidden="true">{{ post.blog.owner.username|first|upper }}</span>
        <span class="who">
          <a href="{% url 'blog:blog_detail' post.blog.slug %}"><b>{{ post.blog.name }}</b></a>
          <span class="meta-sep">·</span>
          <a href="{% url 'profile' post.blog.owner.username %}">@{{ post.blog.owner.username }}</a>
        </span>
      {% endif %}
    </p>
  </div>
</li>
